{% extends 'base.html.twig' %}

{% block title %}Hello ActualiController!{% endblock %}

{% block body %}

    {% for message in app.flashes('corregir') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {{ form(formulario2) }}
    {{ dump(Actualizacion) }}
{% endblock %}
